.header {
    width: 100%;
    height: 97px;
    padding: 20px;
    text-align: center;
    color: #f6f6f6;
    background-color: #ff5a00;
}

.title {
    font-size: 28px;
}
.subTitle {
    font-size: 14px;
}